# ISOM 352 Final Project - Group 7

In [22]:
# plt.style.use('ggplot')

# Import packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import numpy as np

## Step 1: Load and clean dataset

In [33]:
# Read and explore dataset
df = pd.read_csv('student_alcohol.csv') 
df.info()

# Process missing values
df = df.dropna()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 17 columns):
 #   Column                                                                                             Non-Null Count  Dtype
---  ------                                                                                             --------------  -----
 0   Timestamp                                                                                          406 non-null    object
 1   Your Sex?                                                                                          404 non-null    object
 2   Your Matric (grade 12) Average/ GPA (in %)                                                         399 non-null    float64
 3   What year were you in last year (2023) ?                                                           333 non-null    object
 4   What faculty does your degree fall under?                                                          399 non-null    object
 5   Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)                 320 non-null    float64
 6   Your Accommodation Status Last Year (2023)                                                         383 non-null    object
 7   Monthly Allowance in 2023                                                                          375 non-null    object
 8   Were you on scholarship/bursary in 2023?                                                           398 non-null    object
 9   Additional amount of studying (in hrs) per week                                                    403 non-null    object
 10  How often do you go out partying/socialising during the week?                                      404 non-null    object
 11  On a night out, how many alcoholic drinks do you consume?                                          404 non-null    object
 12  How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)  403 non-null    object
 13  How many modules have you failed thus far into your studies?                                       403 non-null    object
 14  Are you currently in a romantic relationship?                                                      403 non-null    object
 15  Do your parents approve alcohol consumption?                                                       402 non-null    object
 16  How strong is your relationship with your parent/s?                                                403 non-null    object
dtypes: float64(2), object(15)
memory usage: 54.1+ KB

Timestamp                                                                                            0
Your Sex?                                                                                            0
Your Matric (grade 12) Average/ GPA (in %)                                                           0
What year were you in last year (2023) ?                                                             0
What faculty does your degree fall under?                                                            0
Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)                   0
Your Accommodation Status Last Year (2023)                                                           0
Monthly Allowance in 2023                                                                            0
Were you on scholarship/bursary in 2023?                                                             0
Additional amount of studying (in hrs) per week                                                      0
How often do you go out partying/socialising during the week?                                        0
On a night out, how many alcoholic drinks do you consume?                                            0
How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)    0
How many modules have you failed thus far into your studies?                                         0
Are you currently in a romantic relationship?                                                        0
Do your parents approve alcohol consumption?                                                         0
How strong is your relationship with your parent/s?                                                  0
dtype: int64

In [36]:
# Renaming all variables
df1 = df.rename(columns={"Your Sex?":"sex","Your Matric (grade 12) Average/ GPA (in %)":"hs_gpa",
                        "What year were you in last year (2023) ?":"grade",
                        "What faculty does your degree fall under?":"major",
                        "Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)":"uni_gpa",
                        "Your Accommodation Status Last Year (2023)":"accomodation",
                        "Monthly Allowance in 2023":"allowance",
                        "Were you on scholarship/bursary in 2023?":"scholarship",
                        "Additional amount of studying (in hrs) per week":"study_hrs",
                        "How often do you go out partying/socialising during the week? ":"social_freq",
                        "On a night out, how many alcoholic drinks do you consume?":"drink_freq",
                        "How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)":"missed_class",
                        "How many modules have you failed thus far into your studies?":"failed_module",
                        "Are you currently in a romantic relationship?":"relationship",
                        "Do your parents approve alcohol consumption?":"parent_app",
                        "How strong is your relationship with your parent/s?":"parent_relationship"})

# Checking new variable names
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 295 entries, 0 to 402
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Timestamp            295 non-null    object
 1   sex                  295 non-null    object
 2   hs_gpa               295 non-null    float64
 3   grade                295 non-null    object
 4   major                295 non-null    object
 5   uni_gpa              295 non-null    float64
 6   accomodation         295 non-null    object
 7   allowance            295 non-null    object
 8   scholarship          295 non-null    object
 9   study_hrs            295 non-null    object
 10  social_freq          295 non-null    object
 11  drink_freq           295 non-null    object
 12  missed_class         295 non-null    object
 13  failed_module        295 non-null    object
 14  relationship         295 non-null    object
 15  parent_app           295 non-null    object
 16  parent_relationship  295 non-null    object
dtypes: float64(2), object(15)
memory usage: 41.5+ KB

In [30]:
# Identify categorical and quantitative features
quant_vars = df1.columns[df1.dtypes != 'object']
cat_vars = df1.columns[df1.dtypes == 'object']
print(quant_vars, cat_vars)

# Converting all `cat_vars`to `category`
for var in cat_vars:
    df1[var] = df1[var].astype('category')

# Checking new variable types
df1.info()

Index(['hs_gpa', 'uni_gpa'], dtype='object') Index(['Timestamp', 'sex', 'grade', 'major', 'accomodation', 'allowance',
       'scholarship', 'study_hrs',
       'How often do you go out partying/socialising during the week? ',
       'drink_freq', 'missed_class', 'failed_module', 'relationship',
       'parent_app', 'parent_relationship'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Index: 295 entries, 0 to 402
Data columns (total 17 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Timestamp                                                       295 non-null    category
 1   sex                                                             295 non-null    category
 2   hs_gpa                                                          295 non-null    float64
 3   grade                                                           295 non-null    category
 4   major                                                           295 non-null    category
 5   uni_gpa                                                         295 non-null    float64
 6   accomodation                                                    295 non-null    category
 7   allowance                                                       295 non-null    category
 8   scholarship                                                     295 non-null    category
 9   study_hrs                                                       295 non-null    category
 10  How often do you go out partying/socialising during the week?   295 non-null    category
 11  drink_freq                                                      295 non-null    category
 12  missed_class                                                    295 non-null    category
 13  failed_module                                                   295 non-null    category
 14  relationship                                                    295 non-null    category
 15  parent_app                                                      295 non-null    category
 16  parent_relationship                                             295 non-null    category
dtypes: category(15), float64(2)
memory usage: 24.5 KB

## Step 2: Descriptive Analysis

### A) Single Variables

In [40]:
# Describing quantitative variables
df1.describe()

           hs_gpa     uni_gpa
count  295.000000  295.000000
mean    78.209593   66.562780
std      6.577461    9.328997
min     60.000000   30.000000
25%     74.000000   60.000000
50%     78.000000   65.000000
75%     83.000000   74.000000
max     99.000000   95.220000